body {
    height: 100%;
    right: 100%;
    left: 100%;
    top: 100px;
    bottom: 100px;
    margin:1%;
    padding: 5px;
    padding-top: 10px;
    background-color: darkgray;
    
}
nav {
    padding-bottom: 10px;
    position: relative;
    align-content: center;
    background-color: darkgray;
    border-bottom-color: dimgray;
    border-bottom-style: groove;
}
li {
    display: inline-flex;
    align-content: center;
    float:inline-start;
    width: 200px;
    height: 50px;
    position: sticky;
}
li a {
    display: block;
    padding: 5px;
    background-color:cadetblue
}
li a:hover {
    background-color: rgb(139, 220, 223);
}
menu {
      border-right: dimgray;
      border-right-style: groove;
      padding-right: 10px;
}
.container-flex {
    display: flex;
    flex-wrap: nowrap;
}
.flex-item-left {
    flex: 10%;
}
.flex-item-right {
    flex: 90%
}
.container-flexnav {
    display: flex;
    flex-wrap:nowrap;
}
.flex-item1 {
    flex: 25%;
}
.flex-item2 {
    flex: 25%;
}
.flex-item3 {
    flex: 25%;
}
.flex-item4 {
    flex: 25%;
}